

 
  
  header ul li {
    margin-left: 30px;
  }
  header ul li a {
    transition: 0.5s;
    
    font-weight: 400;
  }
  header ul li a:hover {
    color: #ff014f;
  }
  
  .open {
    display: none;
  }
  .search.active {
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff !important;
    box-shadow: -1px 11px 24px -19px rgba(12, 0, 0, 0.6);
    transition: 2s ease-in-out;
  }
  .search{
    z-index: 99;
  }

  .search.activebigSceen {
    height: 100px;
    position: fixed;
    top: 0;
    padding-top: 4px;
    z-index: 999999;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 11px 24px -19px rgba(0, 0, 0, 0.9);
    transition: 3s ease-in-out;
  ;

  }


  .nav_menu {
    background-color: rgb(5, 3, 32);
    position: fixed;
    left: 0;
    top: 8vh;
    height: 93vh;
    width: 45%;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.4s ease-in-out;
    transform: translateX(-100%);
    text-align: center;
    z-index: 9999999999999999;
}
.nav_phone {
  transform: translateX(0%);
}